@page "/"

<PageTitle>Home</PageTitle>

<img src="imgs/sentiment_sense_logo.png" alt="Sentiment Sense" width="240" class="mx-auto d-block mt-4"/>

<div class="row gy-3 mt-3">
    <div class="col-md-6">
        <MudCard Style="background-color: #F8F9FC">
            <MudCardContent>
                <MudTextField @bind-Value="SentimentText" Clearable="true" Style="background-color: #F8F8FF" Variant="Variant.Outlined" T="string" Label="Enter text here*" Lines="5"/>
                @if (string.IsNullOrEmpty(SentimentText))
                {
                    <MudButton Disabled="true" Variant="Variant.Filled" @onclick="AnalyzeText" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Search" Class="mt-3">Analyze Text</MudButton>
                }
                else
                {
                    <MudButton Disabled="false" Variant="Variant.Filled" @onclick="AnalyzeText" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Search" Class="mt-3">Analyze Text</MudButton>
                }
                <p class="mt-5 fw-bold">Sentiment: @Sentiment</p>
                <MudRating SelectedValue="5" FullIcon="@Icons.Material.Filled.Square" EmptyIcon="@Icons.Material.Filled.Square" FullIconColor="FullColor" EmptyIconColor="Color.Dark"> </MudRating>
                <hr/>
                <p class="fw-bold">Probability: @Math.Round(Probability, 2)%</p>
                <MudProgressLinear Color="Color.Info" Striped="true" Size="Size.Large" Value="@Probability" Class="my-7"/>
            </MudCardContent>
        </MudCard>
    </div>
    <div class="col-md-6">
        <MudPaper Class="pa-4" Style="background-color: #F8F9FC">
            <MudChart ChartType="ChartType.Pie" Style="background-color: #F8F8FF" InputData="@Data" @bind-SelectedIndex="Index" LegendPosition="LegendPosition" InputLabels="@Labels" Width="250px" Height="250px"/>
            <div class="row text-center mt-2">
                <p class="col-md-4 fw-bold">Accuracy: @Math.Round(Accuracy, 2)%</p>
                <p class="col-md-4 fw-bold">AreaUnderRocCurve: @Math.Round(AreaUnderRocCurve, 2)%</p>
                <p class="col-md-4 fw-bold">F1Score: @Math.Round(F1Score, 2)%</p>
            </div>
        </MudPaper>
        <div class="row mb-3">
            <div class="col-md-6">
                <MudSelect Label="Legend Position" Variant="Variant.Outlined" Dense="true" T="@Position" ValueChanged="OnSelectedValue" Style="background-color: #F8F8FF" Class="mt-4">
                    <MudSelectItem T="Position" Value="Position.Top">Top</MudSelectItem>
                    <MudSelectItem T="Position" Value="Position.Left">Left</MudSelectItem>
                    <MudSelectItem T="Position" Value="Position.Right">Right</MudSelectItem>
                    <MudSelectItem T="Position" Value="Position.Bottom">Bottom</MudSelectItem>
                    <MudSelectItem T="Position" Value="Position.Start">Start</MudSelectItem>
                    <MudSelectItem T="Position" Value="Position.End">End</MudSelectItem>
                </MudSelect>
            </div>
        </div>
    </div>
</div>