@page "/"

<PageTitle>Home</PageTitle>

<h1>Sentiment Sense</h1>

<p class="mt-5">Play around with my Sentiment Analyzer below:</p>

<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" @bind="SentimentText"></textarea>
        </div>

        <button class="btn btn-primary mt-2" @onclick="AnalyzeSentiment">Analyze Text</button>
        <p class="mt-2">Sentiment: @Sentiment</p>
        <p>Probability: @Probability</p>
        <p class="mt-5 fw-bold">Model quality metrics evaluation:</p>
        <p>@Accuracy</p>
        <p>@AreaUnderRocCurve</p>
        <p>@F1Score</p>
        <MudPaper Class="pa-4">
            <MudChart ChartType="ChartType.Pie" InputData="@Data" @bind-SelectedIndex="Index" InputLabels="@Labels" Width="300px" Height="300px" />
        </MudPaper>
        <MudPaper Class="pa-4 mt-2 d-flex justify-center">
            <MudButton @onclick="RandomizeData" Variant="Variant.Filled" Class="mx-4">Randomize</MudButton>
        </MudPaper>
    </div>
</div>