@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Color="Color.Transparent" Class="d-flex align-end">
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" Href="https://github.com/KalebGarrett/SentimentSense" target="_blank" Size="Size.Medium"></MudIconButton>
        <MudHidden Invert="true">
            <MudIconButton Class="visible-md d-flex justify-content-end" Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" OnClick="@((e) => DrawerToggle())"/>
        </MudHidden>
    </MudAppBar>
    <MudDrawer style="background-color: #594AE2" @bind-Open="DrawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
<footer class="footer">
    <div class="container d-flex justify-content-center">
        <div class="d-flex row text-center">
            <MudText Class="col-6 col-auto col-sm-auto col-md-auto col-md-large">
                Powered by .NET @Environment.Version
            </MudText>
            <MudText Class="col-6 col-auto col-sm-auto col-md-auto col-md-large">
                &copy; @DateTime.UtcNow.Year Sentiment Sense
            </MudText>
        </div>
    </div>
</footer>

@code {
    bool DrawerOpen { get; set; } = true;

    void DrawerToggle()
    {
        DrawerOpen = !DrawerOpen;
    }

}